<!DOCTYPE html>
{% load static %}

<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>
  <link rel="stylesheet" href="{% static 'css/visualizador_style.css' %}">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="{% static 'voronoi.json' %}"></script>

 <!--   <script src="voronoi.json"></script> var torres --> 
   <!-- <script src="comunidades.json"></script>  var com_ant -->
<style type="text/css">

.widget {
  height:inherit;
  font: 14px/16px Arial, Helvetica, sans-serif;
  /*background: white;*/
  background: rgba(255,255,255,0);
  /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
  /*background-color:#1c202c;*/
  /*background-color: #2c323d;*/
  position:relative;
  /*top: 55px;*/
  /*right: 5px;*/
  /*color:white;*/
  min-width: 160px;
  max-width: 300px;
  border-radius:10px;
  /*opacity:0.95;*/
  z-index: 1040;
  /*-webkit-box-shadow: -2px 3px 7px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 3px 7px -2px rgba(0,0,0,0.75);*/
  /*box-shadow: -2px 3px 7px -2px rgba(0,0,0,0.75);*/
  /*overflow-y: scroll;
  width: 160px;*/
}

#command{
  margin-right: 0px;
  margin-left: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
  float: right;

}

#slider{
  margin-right: 0px;
  margin-left: 10%;
  float: right;

}
#sliderRank{
  margin-right: 0px;
  margin-left: 10%;
  float: right;

}
 #custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
  
    text-align: center;
    line-height: 1.6em;
  }

 #custom-handleRank {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
  
    text-align: center;
    line-height: 1.6em;
  }

    #mapid { height:99vh; }
    h4 {margin-left: 50px}
    p {margin-left: 50px;
      width: 50% }
    table {margin-left:  50px}
    h1 {text-align: center}

.info {
    width: 100%;   
    
}

.butCom {
    display: none;   
    
}

.butFile {
    margin-right: 0px;
    margin-left: 10%;
    margin-bottom: 5%;
    float: right; 
    
}



</style>
</head>
<body>
    
   <!--  <br/>
    <h1>Ranking de Centralidad y Comunidades</h1>
    <br/>
     <div class="row">
     
<div class = "col-md-6"> -->
<!--       <h4> Subir Comunidades:   <label class="btn btn-default btn-file">
            Cargar... <input type='file' id='files1' style="display: none; " onchange="handleFiles(this.files, processFileComunidad, files1,files1label)" />
      </label>  <label id='files1label'> </label> </h4> -->

       <!--  <p><table id = "tableResul"class="table" style= "display:none">
          <tr id = "Numero">
            <td class="name"><b> # </b></td>
          </tr>
          <tr id = "rowCom">
            <td class="name"><b> Comunidad </b></td>
          </tr>
          <tr id = "rowNum" >
            <td class="name"><b> Cantidad </b> </td>
          </tr>
        </table>
       </p>

       <div id = "botTable" style="display: none">
        <h4> <label class="btn btn-default">
        Recargar tabla <input type='submit' style="display: none"  onclick="handleFiles(this.files, readTextFile, files2, files2label)" />
      </label>   </label> </h4>
    </div> 

      <h4> 2. Definir el Numero de  Comunidades: 
      <input type="number" id ="quantity" name="quantity" min="1" max="8"> </h4>
  <div id = "generarVisualizacionComunidades" >
       <h4> <label class="btn btn-default">
        Generar Visualizacion Comunidades <input type='submit' style="display: none"  onclick="pintarArchivo('comunidades')" />
      </label>   </label> </h4>

  </div>
  
 </div>
     -->



<!-- 
<div class = "col-md-6">
      <h4>Subir Ranking de Centralidad:   <label class="btn btn-default btn-file">
         Cargar... <input type='file' id='files2' style="display: none"  onchange="handleFiles(this.files, readRankingFile, files2, files2label)" />
      </label>  <label id='files2label'> </label> </h4> 

      <div id="slider" margin-right="30px">
        <div id="custom-handle" class="ui-slider-handle"></div>
      </div>

     

  <div class="row" id = "generarVisualizacionRanking" >
    <div class = "col-md-6">
      <h4> <label class="btn btn-default">
        Guardar Visualizacion Ranking <input type='submit' style="display: none"  onclick="pintarArchivo('ranking')" />
      </label>   </label> </h4>
    </div>
    <div class = "col-md-6" align = "left">
      <h4> <label class="btn btn-default">
        Visualizar con colores <input type='submit' style="display: none"  onclick="pintarArchivo('rankingColores')" />
      </label>   </label> </h4>
    </div>
    <br/>

  </div>
  </div>
  </div>
    <br/>  -->
    <div id="mapid"></div>

    <script type="text/javascript">

      var torresRect = [];
      var stringTorres;
      var mapURL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
      var grayscale = L.tileLayer(mapURL, {id: 'mapbox.light', attribution: '<a href="http://ecoinformatica.org">ecoinformatica</a> EigenCities Project'})
       
      var mapURL_OSM_BW = 'http://{s}.www.toolserver.org/tiles/bw-mapnik/{z}/{x}/{y}.png'
      var blanco_negro  = L.tileLayer(mapURL_OSM_BW, {attribution: ' <a href="http://ecoinformatica.org">ecoinformatica</a> EigenCities Project'})
      var mymap = L.map('mapid', {
              center: [-33.399613389893275, -70.61239171079704 ],
              zoom: 7,
              layers: [grayscale]
      });

      var loadInfo = L.control({position:'bottomright'});

       loadInfo.onAdd = function (mymap){
        //Control para cargar archivos 
        this.div = L.DomUtil.create('div'); // create a div with a class "info"
        this.div.float = "right";

        
        var fileIcon = L.DomUtil.create('span', "glyphicon glyphicon-resize-full");
        var butFile = L.DomUtil.create('button', "btn btn-default btn-sm butFile");
        butFile.type = "button";

        butFile.onclick =  function(){
          divLoading.style.display =  (divLoading.style.display == "block" ? "none" : "block" );
          fileIcon.className =  (divLoading.style.display == "block" ? "glyphicon glyphicon-resize-small" : "glyphicon glyphicon-resize-full" );
          console.log(fileIcon.classList);
        }
        var separadorBot = L.DomUtil.create('div', "row");
        //separadorBot.innerHTML = "</br>";

        //but.innerHTML = "Cargar Archivos"
        //fileIcon.aria-hidden = "true";

        butFile.append(fileIcon);
        butFile.append("  Archivos");
        this.div.append(butFile);
        this.div.append(separadorBot);


//         <button type="button" class="btn btn-default btn-lg">
//   <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
// </button>
        var divLoading = L.DomUtil.create('div', 'info'); // create a div with a class "info"
        divLoading.style.display = "none";

        var CargarCom = L.DomUtil.create('h4', "");
        CargarCom.innerHTML = "Subir Comunidades: ";
        
        var labelCom = L.DomUtil.create('label', "btn btn-default btn-file");
        labelCom.innerHTML = "Cargar ... ";
        
        var butCom = L.DomUtil.create('input', "butCom");
        butCom.type = "file";
        butCom.id = "files1";
        butCom.style.display = "none";
        
        var labelNomCom = L.DomUtil.create('label');
        labelNomCom.id = "files1label";

        butCom.onchange =  function(){
          handleFiles(this.files,processFileComunidad,"#files1","#files1label");
        }

        labelCom.append(butCom);
        CargarCom.append(labelCom);
        CargarCom.append("  ");
        CargarCom.append(labelNomCom);

        var CargarRank = L.DomUtil.create('h4', "");
        CargarRank.innerHTML = "Subir Centralidad: ";

        var labelRank = L.DomUtil.create('label', "btn btn-default btn-file");
        labelRank.innerHTML = "Cargar ... ";

        var butRank = L.DomUtil.create('input', "butCom");
        butRank.type = "file";
        butRank.id = "files2";
        butRank.style.display = "none";

        var labelNomRank = L.DomUtil.create('label');
        labelNomRank.id = "files2label";
        
        butRank.onchange =  function(){
          handleFiles(this.files,readRankingFile,"#files2","#files2label");
          divVisRank.style.display = "block";
        }

        //Botones de visualizacion 
        var divVisRank = L.DomUtil.create('div', "row ");
        divVisRank.id = "generarVisualizacionRanking"
        divVisRank.style.display = "none";

        var divVisRankMid1 = L.DomUtil.create('div', "col-md-6");
        var divVisRankMid2 = L.DomUtil.create('div', "col-md-6");

        var labelVisRank = L.DomUtil.create('label', "btn btn-default");
        labelVisRank.innerHTML = "Guardar Visualizacion Ranking ";

        var butVisRank = L.DomUtil.create('input', "butCom");
        butVisRank.type = "submit";
        butVisRank.style.display = "none";

        butVisRank.onclick =  function(){
          pintarArchivo('ranking');
        }

        var labelVisRankCol = L.DomUtil.create('label', "btn btn-default");
        labelVisRankCol.innerHTML = "Guardar Visualizacion Colores ";

        var butVisRankCol = L.DomUtil.create('input', "butCom");
        butVisRankCol.type = "submit";
        butVisRankCol.style.display = "none";

        butVisRankCol.onclick =  function(){
          pintarArchivo('rankingColores');
        }

        //Slider de carga archivo:
        var separadorDiv = L.DomUtil.create('div', "row");
        separadorDiv.innerHTML = "</br>";

        var separador = L.DomUtil.create('div', "row");
        separador.innerHTML = "</br>";


        var rankingSliderRank = L.DomUtil.create('div', "info");
        rankingSliderRank.id = 'sliderRank'; 

        var rankingSliderChild = L.DomUtil.create('div','ui-slider-handle');
        rankingSliderChild.id = 'custom-handleRank'; 
        rankingSliderRank.append(rankingSliderChild);

       
        labelVisRank.append(butVisRank);
        labelVisRankCol.append(butVisRankCol);

        divVisRankMid1.append(labelVisRank);
        divVisRankMid1.append(separadorDiv);
        divVisRankMid1.append(rankingSliderRank);
        divVisRankMid2.append(labelVisRankCol);
        divVisRank.append(separador);

        divVisRank.append(divVisRankMid1);
        divVisRank.append(divVisRankMid2);

        labelRank.append(butRank);
        CargarRank.append(labelRank);
        CargarRank.append("  ");
        CargarRank.append(labelNomRank);
        //CargarRank.append(separador);
        CargarRank.append(divVisRank);

        divLoading.append(CargarCom);
        divLoading.append(CargarRank);
        this.div.append(divLoading);

        return this.div;
      }

      loadInfo.addTo(mymap);


      var info = L.control({position:'topright'});


      info.onAdd = function (mymap){
        this.div = L.DomUtil.create('div', 'widget'); // create a div with a class "info"

        var rankingButton = L.DomUtil.create('input', 'btn btn-default');
        rankingButton.type="button";
        rankingButton.title="Visualizar Centralidad";
        rankingButton.value = "Visualizar Centralidad";
        rankingButton.id = 'command'; 

        // boton.onclick = "alert(1)";
        rankingButton.onclick = function(){
          console.log('RANKING');
          enviarSubRed(stringTorres, "rectangle", false); 
        }

        //pintarArchivo('rankingColores')

        var CommuButton = L.DomUtil.create('input', 'btn btn-default');
        CommuButton.type="button";
        CommuButton.title="Visualizar Comunidades";
        CommuButton.value = "Visualizar Comunidades";
        CommuButton.id = 'command'; 

        // boton.onclick = "alert(1)";
        CommuButton.onclick = function(){
          console.log('COMUNIDAD');
          enviarSubRed(stringTorres, "polygon", false);

        }
        var rankingSlider = L.DomUtil.create('div', 'info');
        rankingSlider.id = 'slider'; 

        var rankingSliderChild = L.DomUtil.create('div','ui-slider-handle');
        rankingSliderChild.id = 'custom-handle'; 
        rankingSlider.append(rankingSliderChild);



        var rankColores = L.DomUtil.create('input','btn btn-default');
        rankColores.type="button";
        rankColores.title="En colores";
        rankColores.value = "Centralidad en colores";
        rankColores.id = 'command'; 

        rankColores.onclick = function(){
          console.log('RANKINGCOLORES');
          enviarSubRed(stringTorres, "rectangle", true);
          //pintarArchivo('rankingColores');

        }

        //pintarArchivo('rankingColores')


        // boton = '<label class="btn btn-default"> Guardar Visualizacion Ranking <input type="submit" style="display: none"/></label>';
        // boton.onclick = "alert('hola')";

        
        this.div.append(CommuButton);
        this.div.append(rankingButton);
        this.div.append(rankingSlider);
        this.div.append(rankColores);

        return this.div;
      };

    var editableLayers = new L.FeatureGroup();
    mymap.addLayer(editableLayers);

    
   
    var options = {
      display: 'inline-block',
      float: 'none',
        position: 'topright',
        draw: {
            polyline: false,
            polygon: {
                shapeOptions: {
                    //clickable: true,
                    color: 'gray',
                    weight: 3,
                    opacity:0.5
                },
                repeatMode: false,
                showRadius: false
            },
            circle: false, // Turns off this drawing tool
            rectangle: false, 
            marker: false 
        },
        edit: {
            featureGroup: editableLayers, //REQUIRED!!
            remove: true
        }
    };
    
    var drawControl = new L.Control.Draw(options);
    
    mymap.addControl(drawControl);

    

                 

    var layer;
    var type;
    mymap.on(L.Draw.Event.CREATED, function (e) {
        type = e.layerType;
        layer = e.layer;
        console.log(info._map);
        info._map ? null : info.addTo(mymap);

        $( function() {
            var handle = $( "#custom-handle" );
            $( "#slider" ).slider({
              value: 10,
              create: function() {
                handle.text( $( this ).slider( "value" ) );
              },
              slide: function( event, ui ) {
                handle.text( ui.value );

              },
              change: function( event, ui ) {
                porcentaje = $( this ).slider( "value" );
                console.log(porcentaje);
                if(ranking && ranking.length > 0){
                 indice = (largo / 100) * porcentaje;
                 capasControl ? mymap.removeControl(capasControl) : null;
                 antenasBor ? antenasBor.clearLayers() : null;
                 antenasRell ? antenasRell.clearLayers() : null;
                 pintarArchivo('ranking');
                }
                

              }
            });
          });


        console.log("type");
        console.log(type);
        coordRect = layer.getLatLngs();  

        editableLayers.addLayer(layer);
        selectTorres(layer);
        
        stringTorres = torresRect.toString();
       
        //enviarSubRed(stringTorres, type);


    });

 mymap.on(L.Draw.Event.EDITSTOP, function (e) {
        /*console.log("e");
        console.log(e);*/
        coordRect = layer.getLatLngs();
       
        selectTorres(layer);
        
        stringTorres = torresRect.toString();
      
        //enviarSubRed(stringTorres, type);
    });


  
  function enviarSubRed(stringTorres, tipo_alg, colores) {

    ranking = [];

        $.ajax({
            url: "{% url 'cluster' %}" , 
            type: 'POST',
            data: {
              torres : stringTorres,
              algoritmo : tipo_alg,
              csrfmiddlewaretoken: '{{ csrf_token }}'},
              success: function(data) {
                console.log("antenas salida");
                antenas = data.salida; 
                if (tipo_alg === "rectangle"){
                  console.log(antenas);
                  antenas.forEach(function (antena_rank) {
                    ranking.push([Math.abs(antena_rank[0]), antena_rank[1]] )
                  });
                
                  ranking.sort(function(a, b){return b[0]-a[0]});
                  largo = ranking.length;
                  //console.log(ranking);
                  if (colores){
                    degrade = largo/10;
                    d_1 = degrade*2;
                    d_2 = degrade*4;
                    d_3 = degrade*5;
                    d_4 = degrade*8;
                    d_5 = degrade*10;
                    console.log("d_1, d_2, d_3, d_4, d_5");
                    console.log(d_1, d_2, d_3, d_4, d_5);

                    pintarArchivo('rankingColores');
                  }
                  else{
                    indice = (largo / 100) * porcentaje;
                    pintarArchivo('ranking');

                  }
                  
                }
               else{
                //ord_comunidad();
                console.log("data.salida");
                console.log(data.salida);
                com_ant = data.salida;
                ord_comunidad();
               } 
               


              },
              failure: function(data) {
                alert('Error de conexión');
              },
              crossDomain: true
            });


    }


   
    function selectTorres (layer) {
      torresRect = [];
      vertxy = layer.getLatLngs();
      vertxy = vertxy[0];
      nvert = vertxy.length;
    
      var vertx = [];
      var verty = [];
      for ( i=0; i< nvert; i++ ){
        vertx.push(vertxy[i]["lat"]);
        verty.push(vertxy[i]["lng"]);

      }

      for (var Cod_torre in torres){
            //torres[Cod_torre] --> son las coordenadas de la antena. 
            inRect = false;

            torres[Cod_torre].some(function(d){
                
                if (pnpoly(nvert, vertx, verty, d[1], d[0]) == 1) {
                  inRect = true;
                  console.log("1");
                  console.log(Cod_torre);
                }
                
                //layer.getBounds().contains([d[1],d[0]]) ? inRect = true : null;
                return inRect === true;
            });
            inRect ? torresRect.push(Cod_torre): null;

        }
        console.log("torresRect");
        console.log(torresRect);


    }

    function pnpoly(nvert, vertx, verty, testx, testy)
    {
      var i, j, c = 0;
      for (i = 0, j = nvert-1; i < nvert; j = i++) {
       if ( ((verty[i]>testy) != (verty[j]>testy)) &&
       (testx < (vertx[j]-vertx[i]) * (testy-verty[i]) / (verty[j]-verty[i]) + vertx[i]) )
        c = !c;
    }
    return c;
  }


      var ord_com =[]; // [[comunidad, cantidad],[comunidad, cantidad],... ]
      var ranking = [];
     // var rectCreated = [];
      var overlayMaps,
          antenasBor,
          capasControl,
          antenasRell;

      var com_ant;
      var colores_comunidades = ['#CCFFCC','#FFCC33',
      '#000000', '#FF6699',
      '#FF33CC', '#B69C3D', 
      '#6633CC', '#666699', 
      '#669966', '#660066',
      '#66FFFF', '#990000', 
      '#FF9966', '#0000FF'];
      var cantidad_colores = colores_comunidades.length;

      var porcentaje = 10; // cambiar el porcenjate aquí 

      var indice, 
          d_1 ,
          d_2 ,
          d_3 ,
          d_4 ,
          d_5 ;


      function handleFiles(file, processFile, nombre, nomLabel) {
        //Funcion que abre el archivo subido y lo envía al proceso correspondiente 
        //Se envía en forma de FileReader;
         var fileInput = $(nombre);
         //nombre del archivo cargado:
         console.log("fileInput");
         console.log(fileInput);
         var archivo = fileInput.val().replace(/\\/g, '/').replace(/.*\//, '');

         //cargar el nombre del archivo en el label *******
          $(nomLabel).html(archivo); 

         var input = fileInput.get(0) ? fileInput.get(0) : file ;
          console.log(input);
          // Create a reader object
          var reader = new FileReader();
          if (input.files.length) {
              var textFile = input.files[0];
              reader.readAsText(textFile);
              $(reader).on('load', processFile);
          } else {
              alert('Please upload a file before continuing')
          }

          


      }


        
      function processFileComunidad(e) {
        //Función que procesa el archivo de comunidades
        //rellena com_ant con un JSON de comunidades de la forma {"COD_ANT1" : 0, "COD_ANT2" : 4, ...}
        //genera ord_com con las comunidades ordenas y las muestra en una tabla para que el usuario conosca el máximo a pintar.  
        ord_com =[]; //reinicializamos el orden de las comunidades 
        var file = e.target.result,
            results;
        if (file && file.length) {

            results = file.split("\n");

            //indice de name y modularity_class
            var name = 0;
            var comunidad = -1;
            var header = results[0].split(",");

            header.forEach(function(columna, count){
              
              columna == "name" ? name = count : null ;
              columna == 'modularity_class' ? comunidad = count : null;
            })

            comunidad == -1 ? comunidad = header.length -1 : null;
           
            //creación del json 
            var array_json = "{";
            results.forEach( function(antena, count){
              antena_array = antena.split(",");
             
              
              if(count > 0 && count < results.length - 1) {
                var json_antena = results[count +1 ].length > 0 ? '"'+antena_array[name]+'"' + ": "+ antena_array[comunidad] + "," : '"'+antena_array[name]+'"' + ": "+ antena_array[comunidad] ; //{"COD_ANT1" : 0, "COD_ANT2" : 4, ...}
                json_antena ? array_json += json_antena : null ;
                
              }
              else{
              
                count == results.length - 1 ? ( antena_array[0] != "" ? array_json += '"'+antena_array[0]+'"' + ": "+ antena_array[antena_array.length - 1] : null ) : null;
              }
            });

            array_json = array_json + "}";
            com_ant = JSON.parse(array_json);
            //generé el JSON de comunidades. 

            ord_comunidad();

           

        }
      }


      function ord_comunidad(){

         ord_com = []; // [[comunidad, cantidad],[comunidad, cantidad],... ]

            for (var key in com_ant){
              //Recorrer cada antena y la comunidad a la que pertenece.
              
              var encontrado = false;
              var numComunidad = com_ant[key];

              ord_com.forEach(function(cuenta){
                cuenta[0] == numComunidad ? (cuenta[1] = cuenta[1] + 1, encontrado = true) : null;

              }); 
              encontrado ? null : ord_com.push([numComunidad, 1]);

            }
            ord_com.sort(function(a, b){return b[1]-a[1]});

            // $('#resultado').hide(); 
            // $( "td" ).remove( ".tableElem" );
            // ord_com.some( function(d, count) {
            //     if (d[1] != 1) {
            //     $("#Numero").append($('<td>').attr('class', 'tableElem').text(count + 1));
            //     $("#rowCom").append($('<td>').attr('class', 'tableElem').text(d[0]));
            //     $("#rowNum").append($('<td>').attr('class', 'tableElem').text(d[1]));}
            //     return d[1] === 1;
            // });
           // $("#tableResul").show();

            // cantidad_colores > ord_com.length ? $('#quantity').attr('max', ord_com.length) : $('#quantity').attr('max', cantidad_colores) ;
            // $('#generarVisualizacionComunidades').show();
           // $("#botTable").show();
           pintarArchivo('comunidades');


      }

      function getColorFill(d) {

        return d < d_1 ? '#800026' :
               d < d_2  ? '#E31A1C' :
               d < d_3  ? '#FC4E2A' :
               d < d_4  ? '#FD8D3C' :
               d < d_5  ? '#FEB24C' :
                          '#FFEDA0' ;
      }

      function getColor(d, max_colores) {
        for( i = 0; i <max_colores; i++){
          if ( d == ord_com[i][0]) {
            return colores_comunidades[i]; 
          }
        }
        return '#FFFFFF';
      }

      function pintarArchivo(tipo) {
        var relleno_antenas = [];
        var borde_antenas = [];

        //$(".leaflet-control-layers-overlays:last").append($('<label>').text(titulo));

        if (tipo == "comunidades"){
          for (var Cod_torre in com_ant){
            if (torres[Cod_torre]){ 
            //torres[key] --> son las coordenadas de la antena. 
            var latlngArray = [];
            torres[Cod_torre].forEach(function(d){
              latlngArray.push([d[1],d[0]]);
            });

            var numComunidad = com_ant[Cod_torre] || com_ant[Cod_torre] == 0 ? com_ant[Cod_torre] : null ;
            var antena_popup = com_ant[Cod_torre] || com_ant[Cod_torre]  == 0 ? "Nombre: "+ Cod_torre.toString() +" comunidad: "+ numComunidad :
               "Nombre: "+ Cod_torre.toString() ;

            //var max_col = $('#quantity').val(); 

            max_col = cantidad_colores > ord_com.length ? ord_com.length : cantidad_colores ;
        
            var polyBor = L.polygon(latlngArray, {color:getColor(numComunidad, max_col), fillOpacity: 0}).bindPopup(antena_popup);
            
            var polyRell = L.polygon(latlngArray, {opacity: 0, fillColor: getColor(numComunidad, max_col), fillOpacity: 0.5}).bindPopup(antena_popup);

            borde_antenas.push(polyBor);
            relleno_antenas.push(polyRell);
            }
          }

          var antenasBorCom = L.layerGroup(borde_antenas); //grupo de antenas voronoi;
          var antenasRellCom = L.layerGroup(relleno_antenas); //grupo de comunidades voronoi;

          var overlayMapsCom = {
              Relleno: antenasRellCom,
              Borde: antenasBorCom
          };

          L.control.layers(null, overlayMapsCom, {collapsed:false, position: "topleft"} ).addTo(mymap);

          

          antenasRellCom.addTo(mymap);
          antenasBorCom.addTo(mymap);
        }

        else if (tipo == "rankingColores"){

          ranking.forEach( function(antena, count){
            if (torres[antena[1]]){
              var latlngArray = [];
              torres[antena[1]].forEach(function(d){
                  latlngArray.push([d[1],d[0]]);
            });

            var numComunidad = com_ant && (com_ant[antena[1]] || com_ant[antena[1]] == 0 )? com_ant[antena[1]] : null;
            var antena_popup = numComunidad || numComunidad == 0 ? "ranking :"+antena[0].toString() +" nombre:"+ antena[1].toString() +" comunidad: "+ numComunidad :
                " ranking :"+antena[0].toString() +" nombre:"+ antena[1].toString();
            
            var polyBor = L.polygon(latlngArray, {color:getColorFill(count), fillOpacity: 0}).bindPopup(antena_popup);
            var polyRell = L.polygon(latlngArray, {opacity: 0, fillColor: getColorFill(count), fillOpacity: 0.5}).bindPopup(antena_popup);

            borde_antenas.push(polyBor);
            relleno_antenas.push(polyRell);
          }
        });

          var antenasBorCom = L.layerGroup(borde_antenas); //grupo de antenas voronoi;
          var antenasRellCom = L.layerGroup(relleno_antenas); //grupo de comunidades voronoi;

          var overlayMapsCom = {
              Relleno: antenasRellCom,
              Borde: antenasBorCom
          };

          L.control.layers(null, overlayMapsCom, {collapsed:false, position: "topleft" } ).addTo(mymap);

          

          antenasRellCom.addTo(mymap);
          antenasBorCom.addTo(mymap);

        }
        else{
           
          ranking.some( function(antena, count){
            if (torres[antena[1]]){
              var latlngArray = [];
              torres[antena[1]].forEach(function(d){
                  latlngArray.push([d[1],d[0]]);
            });

            var numComunidad = com_ant && (com_ant[antena[1]] || com_ant[antena[1]] == 0 )? com_ant[antena[1]] : null;
            var antena_popup = numComunidad || numComunidad == 0 ? "ranking :"+antena[0].toString() +" nombre:"+ antena[1].toString() +" comunidad: "+ numComunidad :
                " ranking :"+antena[0].toString() +" nombre:"+ antena[1].toString();
            
            var polyBor = L.polygon(latlngArray, {color:'#800026', fillOpacity: 0}).bindPopup(antena_popup);
            //console.log("polyBor");
            //console.log(polyBor);
            var geoPoly = polyBor.toGeoJSON();
            //console.log(geoPoly);
            var polyRell = L.polygon(latlngArray, {opacity: 0, fillColor: '#800026', fillOpacity: 0.5}).bindPopup(antena_popup);

            borde_antenas.push(polyBor);
            relleno_antenas.push(polyRell);
          }
          return count > indice;
        });



          antenasBor = L.layerGroup(borde_antenas); //grupo de antenas voronoi;
          antenasRell = L.layerGroup(relleno_antenas); //grupo de comunidades voronoi;

          overlayMaps = {
              Relleno: antenasRell,
              Borde: antenasBor
          };

          capasControl = L.control.layers(null, overlayMaps, {collapsed:false, position: "topleft"} ).addTo(mymap);

          antenasRell.addTo(mymap);
          antenasBor.addTo(mymap);

         // $(".leaflet-control-layers-overlays:last").append($('<label>').text(tipo));
         
      }


        

        //$(".leaflet-control-layers-selector").attr('checked', 'true'); //checked="checked"

        fileInput = (tipo == "comunidades" ? $("#files1") : (tipo == "ranking" ? $("#files2") : null )  );
         //nombre del archivo cargado:
        var titulo = fileInput ? fileInput.val().replace(/\\/g, '/').replace(/.*\//, '') : tipo.toString();
        titulo != "" ? console.log("distinto de vacio") : titulo = tipo.toString();
        $(".leaflet-control-layers-overlays:last").append($('<label>').text(titulo));

        }



        function readRankingFile(e){
          //Lee el ranking de centralidad y define los rangos a pintar. 
          ranking = []; // [valor, COD_antena]
          var file = e.target.result,
              antena;

          if (file && file.length) {
            antena = file.split("\n");
            antena.forEach(function(ant){
                var antena_rank = ant.split(" ");
               
                ranking.push([Math.abs(antena_rank[0]), antena_rank[1]] );
            });
            ranking.sort(function(a, b){return b[0]-a[0]});
        

            largo = ranking.length;
            indice = (largo / 100) * porcentaje;
            degrade = largo/10;
            d_1 = degrade*2;
            d_2 = degrade*4;
            d_3 = degrade*5;
            d_4 = degrade*8;
            d_5 = degrade*10;
           
          }

           $('#generarVisualizacionRanking').show();    
        }

         $( function() {
            var handle = $( "#custom-handleRank" );
            $( "#sliderRank" ).slider({
              value: 10,
              create: function() {
                handle.text( $( this ).slider( "value" ) );
              },
              slide: function( event, ui ) {
                handle.text( ui.value );

              },
              change: function( event, ui ) {
                porcentaje = $( this ).slider( "value" );
                console.log(porcentaje);
                if(ranking && ranking.length > 0){
                 indice = (largo / 100) * porcentaje;
                 capasControl ? mymap.removeControl(capasControl) : null;
                 antenasBor ? antenasBor.clearLayers() : null;
                 antenasRell ? antenasRell.clearLayers() : null;
                 pintarArchivo('ranking');
                }
                

              }
            });
          } );

         function loadNet() {

            var info = L.control();
              info.onAdd = function (mymap){
                this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
                this._div.innerHTML = "Cargando red...";
                return this._div;
              };
            info.addTo(mymap);

            $.ajax({
              url: "{% url 'cluster' %}" , 
              type: 'POST',
              data: {
                inicio_red: "red inicial",
                csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(data) {
                  console.log("red lista");
                  console.log(data);
                  mymap.addControl(drawControl);
                  mymap.removeControl(info);
                  

                },
                failure: function(data) {
                  alert('Error de conexión');
                },
                crossDomain: true
              });
        }
       // window.onload = loadNet;

    </script>


</body>
</html>