<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<html>


{% block content %}




<div class = "container" >
	<div class = "row" id= "titulo">
		<h1> Observatorio de escalamiento</h1>
	</div>
	<div class ="row" >
		<div class = "col-md-6">
		<select id = "SelectVar"  class="selectpicker show-tick "  title="Variable de escalamiento" > 
	  		<option value= "vehicle"> vehiculos </option>
	  		<option value= "motor"> vehiculos motorizados </option>
	  		<option value= "Non_motorized"> vehiculos no motorizados </option>
	  		<!-- <option value= "private_transport"> Transporte privado </option> -->
	  		<option value= "public_transport"> Transporte público </option>
	  		<!-- <option value= "CO2_transport"> CO2 (fuentes moviles) </option> -->
	  		<option value= "Green"> Espacios verdes </option>
	  		<option value= "Iliteracy"> Analfabetismo </option>
		</select>
		</div>
	</div>

	<div class ="row" id = "graficos" >
			<div class = "col-md-3" id = "pais" >   </div>
		<div class = "col-md-6" id = "escalamiento" > </div>
		
		<div class = "col-md-3" id = "desviaciones" > </div>
		
		
	</div>
	<div class = "row" id = "info-escalamiento" > </div>
</div>




<script type="text/javascript"> 
	console.log("hola "); 
	x = [];
	y = [];
$( "#SelectVar" ).change(function() {
  console.log("SelectVar.val: ", $('#SelectVar').val() );
  var varSelect = $('#SelectVar').val() ;
  //var log = "log_".concat(varSelect);
  //console.log(log);
  var valor = 0.0 ; 
	 
 //  	{% for ciudad in ciudades %}
	// 	console.log("{{ciudad.nombre}} ");
 //  		valor = {{ciudad.varSelect}};
	// 	console.log(valor);
	// {% endfor %}
	var variables = 0;
	//Para el mapa pido los datos de log_variable 
	$.ajax({
		url: "{% url 'escalamiento' %}" , 
		type: 'POST',
		async: false,
		data: {
			varSelect : varSelect,
			csrfmiddlewaretoken: '{{ csrf_token }}'} ,
		success: function(data) {
			console.log("llego");
			console.log(data['results']);

			//array1.forEach(function(element) {
			//	console.log(element);
			//	});
			variables = data['results'];
			
			var info_titulo = "ANALFABETISMO";
			var info_descripcion = "Número de personas que no saben leer o escribir, respecto al total de la  población mayor de 15 años por comuna." ;
			var info_unidad = "Unidad";
			var info_fuente = "Ministerio de Planificación y Cooperación (Mideplan). Encuesta de Caracterización Socio-Económica Nacional (CASEN)";
			var info_año = "2003";
			var info_regimen = "Sub lineal"
			
			scaling_graph(variables, $('#SelectVar  option:selected').text(), data['reg']);
			desviaciones_graph(variables, $('#SelectVar  option:selected').text(), data['reg']);
			scaling_text(info_titulo,info_descripcion,info_unidad,info_fuente,info_año,info_regimen);

			scaling_map(variables);
		/*	variables.forEach(function(c){
				x.push(c);
				y.push();

			})*/


		},
		failure: function(data) {
			alert('Error de conexión');
		},
		crossDomain: true
	});
	console.log(variables);
	console.log("fin ajax");


});
function scaling_map(data){
	d3.selectAll("#pais").select("div").remove();
	$("#pais").append("<div id='mapid' '></div>");


	
	var mymap = L.map('mapid').setView([-35.505, -73.09], 3);
	
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
				maxZoom: 10,
				attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
					'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
					'Imagery © <a href="http://mapbox.com">Mapbox</a>',
				id: 'mapbox.streets'
			}).addTo(mymap);

	for (let i = 0; i < data.length; i++) {
		const ciudad = data[i];
		const lat = ciudad[5];
		const lon = ciudad[6];
		const value = ciudad[2];

		var circle = L.circle([lat, lon], {
			color: '#ffffff',
			fillColor: '#800000',
			fillOpacity: 0.4,
			opacity: 0,
			radius: value * 5000
		}).addTo(mymap);
				
	 }
	

};

function scaling_text(info_titulo,info_descripcion,info_unidad,info_fuente,info_año,info_regimen){
	d3.selectAll("#info-escalamiento").select("div").remove();
	// $("#info-escalamiento")
	d3.selectAll("#info-escalamiento")
	.append("div");
	$("#info-escalamiento div").append("<b>"+info_titulo+": </b> " + info_descripcion + "<br>");
	$("#info-escalamiento div").append("<b>Unidad de medida: </b> " + info_unidad+ "<br>");
	$("#info-escalamiento div").append("<b>Fuente de la información: </b> " + info_fuente+ "<br>");
	$("#info-escalamiento div").append("<b>Año de toma de dato: </b> " + info_año+ "<br>");
	$("#info-escalamiento div").append("<b>Régimen de escalamiento teórico esperado: </b> " + info_regimen+ "<br>");
	


}


function scaling_graph(dataset, varS, reg) {
	console.log(dataset);
	//var xAxis = d3.svg.axis(); 
	var w = 500;
	var h = 400; 
	var padding = 40;

	
	d3.selectAll("svg").remove();

	var svg = d3.select("#escalamiento")
            .append("svg")
			.attr("class", "graph_escalamiento")
            .attr("width", w)
            .attr("height", h);





	var scale = d3.scale.linear();


    var xScale = d3.scale.linear()
                     .domain([0, d3.max(dataset, function(d) { return d[1]*1.2; })])
                     .range([padding, w - padding * 2]);

	var yScale = d3.scale.linear()
                     .domain([0 , d3.max(dataset, function(d) { return d[2]*1.2; })])
                     .range([h - padding, padding]);

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong> <center>"+ d[0] + "</center> </strong> <a href='ciudad/"+d[7] +"' > ver mas  </a>  </br> Población:  <span style='color:red'>  " + Number(d[3]).toFixed(0) +
	 "</span> </br><strong>"+ varS +"</strong> <span style='color:red'> "+ Number(d[4]).toFixed(2)+ "</span> " +
	"</br><strong> Estimado </strong> <span style='color:red'> "+ Number(Math.exp(reg[1] + (reg[0]*d[1]) ) ).toFixed(2)+ "</span> ";
  })


	svg.selectAll("circle")
		.data(dataset)
		.enter()
		.append("circle")
		.attr("cx", function(d) {
				return xScale(d[1]);
		})
		.attr("cy", function(d) {
				return yScale(d[2]); //h - d[2]*10;
		})
		.attr("r",  function(d) {
				return 6;
		})
		.attr("id", function(d) {return d[0] +'_circle' } )
		.attr("fill", function(d) {return color(d,reg); } )
		.attr("fill-opacity", 0.6)
		//.on('mouseover', tip.show)
		//.on('mouseover', tip.show)
		.on('mouseover', function(d) {
							tip.show(d);
							mouseover_circle(d);
							 })
		.on('mouseout', function(d) {
			tip.delay(5);
							tip.hide(d);
							mouseout_circle(d, reg); } );
	svg.call(tip);

	// apply the reults of the least squares regression
	var x1 = d3.min(dataset, function(d) { return Number(d[1])*0.8; }) ;
	var y1 = reg[1] + reg[0]*x1 ;
	var x2 = d3.max(dataset, function(d) { return Number(d[1])*1.2; }) ;
	var y2 = reg[1] + reg[0]*x2;
	var trendData = [[x1,y1,x2,y2]];
	console.log("trenddata:", trendData);
	//var trendline = svg.selectAll(".trendline")
	//	.data(trendData);
	
	svg.selectAll("line")
		.data(trendData)
		.enter()
		.append("line")
		.attr("class", "trendline")
		.attr("x1", function(d) { return xScale(d[0]); })
		.attr("y1", function(d) { return yScale(d[1]); })
		.attr("x2", function(d) { return xScale(d[2]); })
		.attr("y2", function(d) { return yScale(d[3]); })
		.attr("stroke", "rgba(146, 146, 146, 0.8)")
		.attr("stroke-width",3);
	

	svg.append("text")
		.text("eq: " + Number(reg[1]).toFixed(2)   + " + " + Number(reg[0]).toFixed(2) + "x"  )
		.attr("class", "text-label")
		.attr("y", h - (padding + 10))
		.attr("x", w )
		.style("text-anchor", "end");

// 	svg.selectAll("text")
// 		.data(dataset)
// 		.enter()
// 		.append("text")
// 		.text(function(d) {
//         return d[0] ;
//    })
// 		.attr("x", function(d) {
// 				return xScale(d[1]); //return  d[1]*20;
// 		})
// 		.attr("y", function(d) {
// 				return yScale(d[2]); //return h - d[2]*20;
// 		})
// 		.attr("font-family", "sans-serif")
// 		.attr("font-size", "11px")
// 		.attr("fill", "red");


	var xAxis = d3.svg.axis()
                  .scale(xScale)
                  .orient("bottom").ticks(10); 

	svg.append("g")
    .attr("class", "axis")  //Assign "axis" class
	.attr("transform", "translate(0," + (h - padding) + ")")
	.call(xAxis)
	.append("text")
      .attr("y",  padding -10 )
	  .attr("x", (w + padding)*0.5 )
      .attr("dy", ".71em")
      .style("text-anchor", "end")
	  .text("[Log] Número de habitantes");

	
	
	var yAxis = d3.svg.axis()
                  .scale(yScale)
                  .orient("left")
                  .ticks(10);

	svg.append("g")
    .attr("class", "axis")
    .attr("transform", "translate(" + padding + ",0)")
    .call(yAxis)
	.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", -(padding ))
	  .attr("x",- (padding +10))
      .attr("dy", ".71em")
      .style("text-anchor", "end")
	  .text("[Log] " + varS);

	var wD = 200;
	var hD = 430; 
	var paddingD = 0;

	var svgD = d3.select("#desviaciones")
            .append("svg")
			//.attr("class", "graph_escalamiento")
            .attr("width", wD)
            .attr("height", hD);

	var xScaleD = d3.scale.linear()
					.domain(d3.extent(dataset, function(d) { return (reg[1] + reg[0]*d[1]) - d[2]; }))
                     //.domain([d3.min(dataset, function(d) { return (reg[1] + reg[0]*d[1]) - d[2]; }) , d3.max(dataset, function(d) { return (reg[1] + reg[0]*d[1]) - d[2]; })])
                     .range([0, wD]);

	var yScaleD = d3.scale.ordinal()
			.domain(dataset.map(function(d) { return (reg[1] + reg[0]*d[1]) - d[2] ; }))
			.rangeRoundBands([0, hD], .2);

	var yScaleDD = d3.scale.ordinal()
				.domain(d3.range(dataset.length))
				.rangeRoundBands([paddingD, hD - paddingD ], 0.2); 
				//.rangeRoundBands([0, hD], 0.2);

		// var x0 = x.domain(data.sort(this.checked
        // ? function(a, b) { return b.frequency - a.frequency; }
        // : function(a, b) { return d3.ascending(a.letter, b.letter); })
        // .map(function(d) { return d.letter; }))
        // .copy();

	var bars = svgD.selectAll(".bar")
    .data(dataset)
  .enter().append("rect")
    .attr("class", "bar")
	.attr("id", function(d) {return d[0] +'_bar' } )
    .attr("x", function(d) { return xScaleD(Math.min(0,  (reg[1] + reg[0]*d[1]) - d[2] )); })
    .attr("y", function(d) { return yScaleDD((reg[1] + reg[0]*d[1]) - d[2]); })
    .attr("width", function(d) { return Math.abs(xScaleD( (reg[1] + reg[0]*d[1]) - d[2] ) - xScaleD(0)); })
    .attr("height", yScaleD.rangeBand())
	.attr("fill", function(d) {return color(d,reg); } )
	.attr("fill-opacity", 0.6)
	.on('mouseover', function(d) {
							tip.show(d);
							mouseover_circle(d); })
      .on('mouseout',  function(d) {
							tip.hide(d);
							mouseout_circle(d, reg); })
	
	  svgD.call(tip);

	//   d3.select("#sortAscending")
	// 		.on("click", function() {

				bars.sort(function(a, b) {
  						return d3.ascending((reg[1] + reg[0]*a[1]) - a[2], (reg[1] + reg[0]*b[1]) - b[2]);
					})
					.transition()
					.delay(function(d, i) {
						return i * 50;  // gives it a smoother effect
					})
					.duration(1000)
					.attr("transform", function(d, i) {
						console.log("i", i);
				  		return "translate(0,"+ yScaleDD(i) +" )";
					});
 
			//});


	//   svgD.selectAll(".bar")
    //   .data(dataset)
    // .enter().append("rect")
    //   .attr("class", "bar")
    //   .attr("x", function(d) { return xScaleD( (reg[1] + reg[0]*d[1]) - d[2] ); })
    //   .attr("width", 10)
    //   .attr("y", function(d) { return xScale(d[1]); })
    //   .attr("height", function(d) { return hD - xScale(d[1]); })
    //   .on('mouseover', tip.show)
    //   .on('mouseout', tip.hide);
	
	//   svgD.call(tip);
	
}

function desviaciones_graph(dataset, varS, reg) {


	
}

function color(d, reg){
	var estimado = reg[1] + reg[0]*d[1];
	if (d[2] > estimado) return "#800000" //rojo
	else  return "#000080"; //azul

}

function mouseover_circle(d) {
	


	console.log(d); 
	var ciudad = d3.selectAll('#' + d[0] + '_circle');
	
	
	ciudad.attr("class", "point_over")
		  .attr("fill", "rgb(0, 0, 0)")
		  .attr("r",  10 );

	// ciudad.append("a")
    // .attr("xlink:href", "http://en.wikipedia.org/").append("rect")  
    // .attr("x", 100)
    // .attr("y", 50)
    // .attr("height", 100)
    // .attr("width", 200)
    // .style("fill", "lightgreen")
    // .attr("rx", 10)
    // .attr("ry", 10).style("pointer-events", "none")

	ciudad.html(
            '<a href= "http://google.com">' + // The first <a> tag
              + "</a>" + "hola"  +                       // closing </a> tag
            "<br/>" ) ;

	var ciudad_bar = d3.selectAll('#' + d[0] + '_bar')
	ciudad_bar.attr("fill", "rgb(0, 0, 0)" )
	.attr("fill-opacity", 0.6)
	.attr("r", 20);

	
	
}

function mouseout_circle(d, reg) {
	
	console.log(d); 
	var ciudad = d3.selectAll('#' + d[0] + '_circle');
	ciudad.attr("fill", function(d) {return color(d,reg); } )
	.attr("fill-opacity", 0.6)
	.attr("r", 6)

	var ciudad_bar = d3.selectAll('#' + d[0] + '_bar')
	ciudad_bar.attr("fill", function(d) {return color(d,reg); } )
	.attr("fill-opacity", 0.6)
	.attr("r", 6);
	
}



	// $('#SelectVar').on('hidden.bs.select', function (e) {
	// 	console.log("en selectvar");
	// 	console.log(e);
	// 	// console.log("SelectVar.val: ", $('#SelectVar').val() );
	// 	// varSelect != $('#SelectVar').val() ? console.log("no seleccionado") : null;
	// 	// varSelect = $('#SelectVar').val();
	// 	// console.log("SelectVar: ", varSelect);

 //        //$('select option[value="'+valores_seleccionados[i]+'"]').attr('descripcion')) ;
 //  		//Cargar todas las torres. 
 //  		//(analisis != null & idCiudad != null & idindicadores != null ) ? doAnalisis() : null;
		
	// });	



</script> 


{% endblock %}


</html>

