<!DOCTYPE html>
{% load static %}
<html>
<head>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>

<!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
<!-- <script src="https://d3js.org/d3-path.v1.min.js"></script>
<script src="https://d3js.org/d3-shape.v1.min.js"></script>
<script src="https://d3js.org/d3-axis.v1.min.js"></script> -->

<!-- <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script> -->


	<title>Visualizadores - Ecoinformática Laboratorio</title>

<style type="text/css">

	
/*h1, h2 {
	/*#color: #00FFFF;*/

	/*.saturate {-webkit-filter: saturate(3); filter: saturate(3);}
	.grayscale {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
	.contrast {-webkit-filter: contrast(160%); filter: contrast(160%);}
	.brightness {-webkit-filter: brightness(0.25); filter: brightness(0.25);}
	.blur {-webkit-filter: blur(3px); filter: blur(3px);}
	.invert {-webkit-filter: invert(100%); filter: invert(100%);}
	.sepia {-webkit-filter: sepia(100%); filter: sepia(100%);}
	.huerotate {-webkit-filter: hue-rotate(180deg); filter: hue-rotate(180deg);}
	.rss.opacity {-webkit-filter: opacity(50%); filter: opacity(50%);}*/
h1, h2 {
	color: #FFFFFF;

	text-align: center;
	font-family: verdana;

}

/*body {
	#background :#000000;
	#color: #00FFFF;

}
*/




.list-group-item{
	color: #000000;
	margin-right:10px;

}


#mapid { height: 500px; }
body { height: 1000px; }



.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #000;
  border-radius: 2px;
  font: 10px sans-serif;

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  /*content: "\25BC";*/
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.toolTip {
  pointer-events: none;
  position: absolute;
  display: none;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  padding: 9px 14px 6px 14px;
  border-radius: 4px;
  text-align: left;
  line-height: 1.3;
  color: #5B6770;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}
.toolTip:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -12px;
}  
.toolTip span {
font-weight: 500;
  color: #081F2C;}


/*#mapid { height: 300px; }*/



</style>
</head>
<body>

<div class = "container" >
	<div class = "row" id= "titulo">
		<h1> Trayectorias de Chile </h1>
	</div>

	
	<div class = "col-md-8" id= "mapaResultados">
		<div clas= "row" id = "mapa">
			 <div id="mapid"></div>


		</div>
		<div class= "row" id = "resultados">
			 
		</div>
		<div class= "row" id = "resultadosTabla" >
			
		</div>
 
	</div>

	<div class= "col-md-4 " id ="opciones">
		<!-- <div class = "affix"  data-spy="affix" data-offset-top="205"> -->
		<div class="list-group affix" >
			
			<div class= "list-group-item" > 
				<div class = "row">
					<div class= "col-md-6" > Seleccione Ciudad: </div> 
					<div class=" col-md-6" >

						<select class="selectpicker show-tick form-control" id ="SelectCiudad" data-width="150px" title="...">
						  {% for ciudad in ciudades %}
					  		<option value= "{{ciudad.id}}" lat="{{ciudad.lat}}" lon="{{ciudad.lon}}" zoom="{{ciudad.zoom}}" >{{ciudad.nombre}}</option>
					  	{% endfor %}
						</select>


					</div>
				</div>
			</div>
			<div class= "list-group-item"> 
				<div class = "row">
					<div class= "col-md-6" > Mostrar Antenas: </div> 
					  <div class=" col-md-6 ">
				        Si <input type="radio" value="si" name="checkAntenas">
				        No <input type="radio" value="no" name="checkAntenas">
				      </div>
				</div>
			</div>
			<div class= "list-group-item"> 
				<div class = "row">
					<div class= "col-md-6" > Seleccione Indicadores: </div> 
					<div class=" col-md-6  " >

						<select class="selectpicker form-control " id ="SelectIndicadores" data-width="150px" multiple data-selected-text-format="count" title="...">
						  {% for indicador in indicadores  %}
					  		<option value= "{{indicador.id}}">{{indicador.nombre}}</option>
					  	{% endfor %}
						</select>


					</div>
				</div>
			</div>
			<div class= "list-group-item"> 
				<div class = "row">
					<div class= "col-md-6" > Seleccione día: </div> 
					<div class=" col-md-6  " >

						<select class="selectpicker show-tick form-control" id ="SelectDia" data-width="150px" title="...">
					  		<option value= "150316">Lunes </option>
					  		<option value= "150317">Martes </option>
					  		<option value= "150318">Miercoles </option>
					  		<option value= "150319">Jueves </option>
					  		<option value= "150320">Viernes </option>
					  		<option value= "150321">Sabado </option>
					  		<option value= "150315">Domingo </option>
						</select>


					</div>
				</div>
			</div>
			<div class= "list-group-item"> 
				<div class = "row">
					<div class= "col-md-6" > Seleccione Análisis: </div> 
					<div class=" col-md-6  " >

						<select class="selectpicker show-tick form-control" id ="SelectAnalisis" data-width="150px" title="...">
					  		<option value= "DT">Despazamiento Acumulado en el Tiempo </option>
					  		<option value= "DH">Despazamiento Por Hora </option>
					  		<option value= "TR"> Ver Trayectoria </option>
						</select>


					</div>
				</div>
				<div class= "list-group-item"> 
				<div class = "row">
					<div class= "col-md-6" > Cantidad de Trayectorias Max: </div> 
					<div class=" col-md-6  " >

						<select class="selectpicker show-tick form-control" id ="SelectAnalisis" data-width="150px" title="...">
					  		<option value= "DT">Despazamiento Acumulado en el Tiempo </option>
					  		<option value= "DH">Despazamiento Por Hora </option>
					  		<option value= "TR"> Ver Trayectoria </option>
						</select>


					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	</div>
</div>


<script>
	var torresList = [];
	var torresCiudad;
	var torreSelect;
	var DTindicador = [];
	var DTHecho = false;
	var analisis,
		idCiudad,
		diaSelect,
		idindicadores;
	var mymap = L.map('mapid').setView([-35.505, -73.09], 13);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

	$('#SelectCiudad').on('hidden.bs.select', function (e) {
		idCiudad = $('#SelectCiudad').val();
        //$('select option[value="'+valores_seleccionados[i]+'"]').attr('descripcion')) ;
		var latitud = $('#SelectCiudad option[value= "'+idCiudad+'"]' ).attr('lat');
		var longitud = $('#SelectCiudad option[value= "'+idCiudad+'"]' ).attr('lon');
		var zoom = $('#SelectCiudad option[value= "'+idCiudad+'"]' ).attr('zoom');
  		mymap.setView([latitud, longitud],zoom );
  		//Cargar todas las torres. 
  		$.ajax({
        url: "{% url 'trayect' %}" , 
        type: 'POST',
        async: false,
        data: {
          cidadTorres : idCiudad,
          csrfmiddlewaretoken: '{{ csrf_token }}'} ,
          success: function(data) {
            createTowers(data.results, data.antIndic);
          },
          failure: function(data) {
            alert('Error de conexión');
          },
          crossDomain: true
        });

  		(analisis != null & idCiudad != null & idindicadores != null ) ? doAnalisis() : null;

		
	});

	$('#SelectDia').on('hidden.bs.select', function (e) {

		diaSelect = $('#SelectDia').val();
        //$('select option[value="'+valores_seleccionados[i]+'"]').attr('descripcion')) ;
  		//Cargar todas las torres. 
  		(analisis != null & idCiudad != null & idindicadores != null ) ? doAnalisis() : null;
		
	});	


	$('#SelectAnalisis').on('hidden.bs.select', function (e) {

		analisis = $('#SelectAnalisis').val();
		idCiudad = $('#SelectCiudad').val();
        //$('select option[value="'+valores_seleccionados[i]+'"]').attr('descripcion')) ;
  		//Cargar todas las torres. 
  		if (analisis == "DT" || analisis == "DH"){
  			(analisis != null & idCiudad != null & idindicadores != null ) ? doAnalisis() : null;
  		}
  		else{
  			(analisis != null & idCiudad != null & idindicadores != null & torreSelect != null) ? console.log("en TR con torre", torreSelect) : null;
  		}



		
	});

	var dataAnalisisDHT ;

	function doAnalisis(){
		var dia = diaSelect != null ? diaSelect : "150316";  

		$.ajax({
	        url: "{% url 'trayect' %}" , 
	        type: 'POST',
	        data: {
	          analisis : analisis,
	          diaAnalisis : dia,
	          ciudadAnalisis : idCiudad,
	          indicadoresAnalisis : JSON.stringify(idindicadores),
	          csrfmiddlewaretoken: '{{ csrf_token }}'} ,
	          success: function(data) {
	          	
	          	dataAnalisisDHT = data;

	            if (analisis == "DT"){
	            	
	            	if (data.results.length > 0) {
						data = transAcumulado(data);
	            	}
	            	createTable(data, idindicadores);
	            }
	            else if (analisis == "DH"){
	            	createTable(data, idindicadores);

	            }
	            else {
	            	dataAnalisisDHT = null;

	            }
	            
	          },
	          failure: function(data) {
	            alert('Error de conexión');
	          },
	          crossDomain: true
	    });
		
	}

	function transAcumulado(data){
		idindicadores.forEach( function (ind){ //acumulo los datos en el mismo arreglo. 
			function datoHoraInd(element,i){
				return element.hora == i & element.indicador == ind;
			}

			var acumP = 0;
			var acumS = 0;
			var medianaAcum = 0;
			var modaAcum = 0;
			var desviacionStAcum = 0;
			var minimoAcum = 0;
			var maximoAcum = 0;
			var varianzaAcum = 0;
			var p25Acum = 0;
			var p50Acum = 0;
			var p75Acum = 0;
			for (var i = 0; i < 24 ; i++) {
				dato = data.results.find( function(element){
						return element.hora == i & element.indicador == ind;
					});
				acumP += dato.promedio ;
				dato.promedio = acumP;
				acumS += dato.suma;
				dato.suma = acumS; 

				medianaAcum += dato.mediana;
				dato.mediana = medianaAcum; 
				modaAcum += dato.moda;
				dato.moda = modaAcum; 				
				desviacionStAcum += dato.desviacionSt;
				dato.desviacionSt = desviacionStAcum; 
				minimoAcum += dato.minimo;
				dato.minimo = minimoAcum; 
				maximoAcum += dato.maximo;
				dato.maximo = maximoAcum; 
				varianzaAcum += dato.varianza;
				dato.varianza = varianzaAcum; 
				p25Acum += dato.p25;
				dato.p25 = p25Acum; 
				p50Acum += dato.p50;
				dato.p50 = p50Acum; 
				p75Acum += dato.p75;
				dato.p75 = p75Acum; 
			}


		});


		return data;

	}


	$( "input[name=checkAntenas]:radio" ).change(function (e) {
		if (this.value == 'si') {
            torresCiudad ? torresCiudad.addTo(mymap) : alert("Selecciona Ciudad") ;
        }
        else if (this.value == 'no') {      
            torresCiudad ? mymap.removeLayer(torresCiudad): null  ;
        }

	});

	$('#SelectIndicadores').on('hidden.bs.select', function (e) {
		idindicadores = $('#SelectIndicadores').val();

  		(analisis != null & idCiudad != null & idindicadores != null ) ? doAnalisis() : null;
		


	});




function createTowers(torres, indicadoresTorres){
	torres.forEach(function(torre){
		function esTorre(element) {
		  return element.antena == torre.id;
		}
		var datosAntena = indicadoresTorres.filter(esTorre); // 130
		var stringPopUp = "<div class = 'popuptorre'>" + torre.nombre + "</br> ";
		var total = 0 ;
		 datosAntena.forEach( function(d){ 
		 	//stringPopUp = stringPopUp.concat(d.indicador__nombre + ": ").concat(d.cantidad+ "</br>");
		 	total +=  Number(d.cantidad);
		 });
		stringPopUp += " Total Habitantes: " +total.toString() + " </br>";
		torre.residentesTotal ? stringPopUp += " Total Residentes: " +(torre.residentesTotal).toString() + " </div>": stringPopUp +=  " </div>";
		stringPopUp = $(stringPopUp)[0];


		//var stringPopUp = datosAntena.toString().concat(torre.nombre); 
		var popup = L.popup().setContent(stringPopUp);
            

		var circle = L.circle([torre.lat, torre.lon], {
		    color: 'red',
		    fillColor: 'red',
		    fillOpacity: 0.5,
		    radius: 50
		}).bindPopup(popup).on('click', function (){ 
			buscaTrayectorias(torre.nombre)
		})



		torresList.push(circle);
		
		total > 0 ? createBarCharIND(datosAntena, stringPopUp, total) : null;


	});

	torresCiudad = L.layerGroup(torresList);

}

function buscaTrayectorias(torre) {
	var dia = diaSelect != null ? diaSelect : "150316";  

	console.log("click en ", torre);
	$.ajax({
        url: "{% url 'trayect' %}" , 
        type: 'POST',
        data: {
          torreTray : torre,
          diaAnalisis : dia,
          csrfmiddlewaretoken: '{{ csrf_token }}'} ,
          success: function(data) {
            console.log(data);
            createMove(data.results);
          },
          failure: function(data) {
            alert('Error de conexión');
          },
          crossDomain: true
        });
}

function createPlotPersona(indicadores,popupPersona, setColor){
	console.log(indicadores);
	
	var margin = {top: 15, right: 0, bottom: 30, left: 30},
	    width = 200 - margin.left - margin.right,
	    height = 150 - margin.top - margin.bottom;

	var x = d3.scaleBand()
	    .rangeRound([0, width], .1);

	var y = d3.scaleLinear()
	    .rangeRound([height, 0]);

	var xAxis = d3.axisBottom(x);
	var yAxis = d3.axisLeft(y);

	var svg = d3.select(popupPersona).select("#graficoPersona").append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
		

	x.domain(indicadores.map(function(d) { return d[0]; }));


	y.domain([0, d3.max(indicadores, function(d) { return d[1]; })]);

	svg.append("g")
	  .attr("class", "x axis")
	  .attr("transform", "translate(0," + height + ")")
	  .call(xAxis);

	svg.append("g")
	  .attr("class", "y axis")
	  .call(yAxis)
	.append("text")
	  .attr("fill", "#000")
	  .attr("transform", "rotate(-90)")
	  .attr("y", 3)
	  .attr("dy", ".71em")
	  .attr("text-anchor", "end")
	  .text("Porcentaje");
	
	g = svg.append("g"); 
	// .attr("transform", "translate(" + margin.left  + "," + margin.top + ")");

	curveForm = d3.curveMonotoneX ;

 	lineForm = d3.line().y(function(d) { 
 		console.log("y(d.cantidad)");
 		console.log(y(d[1]));
 		return y(d[1]); }) ;

	var line = lineForm
		.curve(curveForm)
	    .x(function(d) {
	    	console.log("d");
	    	console.log(x(d[0]));
	    	 return x(d[0]); });

	// fill = analisis == "DT" ? "none" : function(d) { return z(d[0].indicador); } ;
	g.append("path")
	  .datum(indicadores)
	  .style("fill-opacity", .2)
	  .attr("fill", 'none' )
	  .attr("stroke-width", 2)
	  .attr("transform", "translate("+x.bandwidth() *0.5 +",0)")
	  .attr("stroke", setColor)
	  // .attr("transform", "translate("+x.bandwidth() +",0)")
	  .attr("d", line);


}
function getcolor(d){
	console.log("getColor");
	console.log(d);
	return 	d === "ABC1" ? 'red':
			d === "C2" ? 'orange':
			d === "C3" ? 'yellow':
			d === "D" ? 'green':
			d === "E" ? 'blue' : 'white';


} 

function createMove(data){
	console.log(data)
	data2 = []
	data2.push(data[0])
	data2.forEach(function (persona){
		if (persona.NSE.length > 0 ) {
			console.log("persona.NSE–");
			console.log(persona.NSE);
			total = persona.NSE.map(el => +parseFloat(el[1]).toFixed(2) )
							   .reduce( (prev, curr) => prev + curr , 0);

			indicadores = persona.NSE.map(el=> [el[0],+(parseFloat(el[1])/total).toFixed(2)] );
			console.log(indicadores);
			console.log("total");
			console.log(total);
			popupPersona = "<div id='popupPersona' >";

			var mode = indicadores.reduce( (prev, curr) => (prev[1] > curr[1]) ? prev : curr);

			var media;
			var suma=0;
			indicadores.some(function(d, indice){
				suma += d[1]; 
				media = indice;
				console.log(suma);
				return suma > 0.5 ;
			})
			console.log("media");
			console.log(indicadores[media]);


			console.log("mode");
			console.log(mode);
			
			// indicadores.forEach(function (p){
			// 	popupPersona += p[0] +": "+  parseFloat(p[1]).toFixed(2) + "</br>";

			// });
			popupPersona += "mode : "+  mode +"</br>";
			popupPersona += "mode : "+  indicadores[media][0] +"</br>";
			popupPersona += " <div id = 'graficoPersona'></div></div>" ;

			popupPersona = $(popupPersona)[0];
			colorPersona = getcolor(indicadores[media][0]);
			console.log(colorPersona);

			createPlotPersona(indicadores,popupPersona, colorPersona); 

			var popup = L.popup().setContent(popupPersona);

		}
		else {
			var popup = L.popup().setContent("Sin residencia")
		}

		
		move0 = persona.moves[0];
		arrayPersona = persona.moves.slice(1);


		arrayPersona.forEach(function(mov){
			var latlngs = [[move0[0], move0[1]]];
			latlngs.push([mov[0],mov[1]])
		
			stringTooltip = "<b>Viaje</b> </br> desde: " + move0[3].toString()+" "+ move0[2].toString() + "</br>hasta: " + mov[3].toString()+" "+ mov[2].toString(); 

			



			var polyline = L.polyline(latlngs, 
				{	color: colorPersona,
					fillColor: colorPersona,
				    fillOpacity: 0.5,
				    opacity: 0.5,
				    weight: 10,
	                dashArray: '20,15',
	                lineJoin: 'round'
				}).addTo(mymap).bindTooltip(stringTooltip, { sticky: 'true'}).bindPopup(popup);

			if (move0[3] == mov[3]){
				// function filterAntenas(element, index){
				// 	return element[3] == mov[3] ;
				// }

				// var movTorre = arrayPersona.filter(filterAntenas);
				// stringTooltip = "" ;
				// if (movTorre.length > 1){
				// 	movTorre.forEach( function(nMov){
				// 		stringTooltip += "<b>Estadia </b>" +nMov[3].toString()+ "</br>inicio: " + " "+ nMov[2].toString() + "</br>fin: " + nMov[2].toString() + "</br>"; 

				// 	})

				// }
				// else {
				// 	stringTooltip = "<b>Estadia </b>" +move0[3].toString()+ "</br>inicio: " + " "+ move0[2].toString() + "</br>fin: " + mov[2].toString(); 

				// }
				stringTooltip = "<b>Estadia </b>" +move0[3].toString()+ "</br>inicio: " + " "+ move0[2].toString() + "</br>fin: " + mov[2].toString(); 

				var circle = L.circle([mov[0], mov[1]], {
			    color: 'blue',
			    fillColor: 'blue',
			    fillOpacity: 0.5,
			    radius: 50
			}).bindTooltip(stringTooltip).openTooltip();
        	circle.addTo(mymap)

			}
			move0 = mov;
		});

	});



}

function createBarCharIND(datosAntena, stringPopUp,total) {
	var margin = {top: 15, right: 0, bottom: 50, left: 30},
	    width = 260 - margin.left - margin.right,
	    height = 180 - margin.top - margin.bottom;

	var x = d3.scaleBand()
	    .rangeRound([0, width], .1);

	var y = d3.scaleLinear()
	    .rangeRound([height, 0]);

	var xAxis = d3.axisBottom(x);
	var yAxis = d3.axisLeft(y);


	var svg = d3.select(stringPopUp).append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	// svg.call(tip);

	ingresa(datosAntena, total);
	//d3.tsv("data.tsv", type, 
	function ingresa(data, total) {
		x.domain(data.map(function(d) { return d.indicador__nombre; }));
		y.domain([0, d3.max(data, function(d) { return d.cantidad *100 /total; })]);


		svg.append("g")
		  .attr("class", "x axis")
		  .attr("transform", "translate(0," + height + ")")
		  .call(xAxis);

		svg.append("g")
		  .attr("class", "y axis")
		  .call(yAxis)
		.append("text")
		  .attr("fill", "#000")
		  .attr("transform", "rotate(-90)")
		  .attr("y", 3)
		  .attr("dy", ".71em")
		  .attr("text-anchor", "end")
		  .text("Porcentaje");

		svg.selectAll(".bar")
		  .data(data)
		.enter().append("rect")
		  .attr("class", "bar")
		  .attr("x", function(d) { return x(d.indicador__nombre); })
		  .attr("width", x.bandwidth() * 0.9)
		  .attr("transform", "translate("+x.bandwidth() * 0.1+",0)")
		  .attr("y", function(d) { return y(d.cantidad *100 /total); })
		  .attr("height", function(d) { return height - y(d.cantidad *100 /total); })
		  .on("mousemove", function(d){
    				d3.select(this).attr("fill", "#588C73");
    				tooltip
              .style("left", d3.event.pageX - 50 + "px")
              .style("top", d3.event.pageY - 50 + "px")
              .style("z-index", 1000)
              .style("display", "block")
      				.html("Porcentaje: " + parseFloat(Math.round((d.cantidad *100 / total ) * 100) / 100).toFixed(2)  + "% </br> Total:" + d.cantidad);
        
  })
    		    .on("mouseout", function(d, i) { tooltip.style("display", "none");d3.select(this).attr("fill", function(d) {return "#bd0026"}
            );});


		  var tooltip =d3.select("body").append("div").attr("class", "toolTip");
		};

	function type(d) {
	  d.frequency = +d.frequency;
	  return d;
	}

}

function tabulate(ind, data, columns) {

	var textButton = '<input name="updateButton" type="button" value="Update" onclick="descargaCSV("'+ ind +'")" />'
	d3row = d3.select('#resultadosTabla').append("div").attr("class", "row");
	
	d3row.append("div").attr("class", "col-md-4")
		.append('h1')
		.attr("aria-label", "Left Align")
		.text(data[0]['indicador__nombre']);
	d3row.append("div").attr("class", "col-md-4").append('button')
		.attr("type", "button")
		.attr("class", "btn btn-default")
		.attr("aria-label", "Left Align")
		.attr("transform", "translateX(-50%) translateY(-50%)")
		.attr("onclick", "descargaCSV("+ind +")")
		.append("span")
		.attr("class", "glyphicon glyphicon-download")
		.attr("aria-hidden","true")
		.html(" Descarga " + data[0]['indicador__nombre']);;
	d3row.append("div").attr("class", "col-md-4").append('button')
		.attr("type", "button")
		.attr("class", "btn btn-default")
		.attr("aria-label", "Left Align")
		.attr("transform", "translateX(-50%) translateY(-50%)")
		.attr("onclick", "descargaCSV()")
		.append("span")
		.attr("class", "glyphicon glyphicon-download")
		.attr("aria-hidden","true")
		.html(" Descarga todo");
	var table = d3.select('#resultadosTabla').append('table').attr("class", "table " + ind)
	var thead = table.append('thead').attr("class", "thead-dark " + ind)
	var	tbody = table.append('tbody');

	// append the header row
	thead.append('tr')
	  .selectAll('th')
	  .data(columns).enter()
	  .append('th')
	  	.attr("scope", "col")
	    .text(function (column) { return column; });

	// create a row for each object in the data
	var rows = tbody.selectAll('tr')
	  .data(data)
	  .enter()
	  .append('tr');

	// create a cell in each row for each column
	var cells = rows.selectAll('td')
	  .data(function (row) {
	    return columns.map(function (column) {
	      return {column: column, value: row[column]};
	    });
	  })
	  .enter()
	  .append('td')
	    .text(function (d) { return d.value; });

  return table;
}

function createTable(indicadores, indSelect){

	//Elimino el gráfico y tablas anteriores.
	d3.select("#resultados").select("svg").remove()
	d3.select("#resultadosTabla").selectAll("h1").remove()
	d3.select("#resultadosTabla").selectAll("table").remove()
	d3.select("#resultadosTabla").selectAll("button").remove()

	DTHecho = true;
	// maximo = Math.max(indicadores['maximo']);

	if (indicadores.results.length > 0 ){
		maximo_graph = d3.max(indicadores['results'], function(d) { return d.promedio /1000; });
	// console.log(a);
	(indSelect).forEach(function (ind){
		function desplIndicador(element) {
		  return element.indicador == ind;
		}
		var datosIncador = indicadores.results.filter(desplIndicador); // 130
		//showTable(datosIncador, ind);


		createPlot(datosIncador, maximo_graph);

		tabulate(ind, datosIncador, ['dia','hora','personasTotal','movimientoTotal','suma','mediana','moda','promedio','desviacionSt','minimo','maximo','varianza','p25','p50','p75']);

	});
		DTindicador = indSelect; //arreglo de indicadores seleccionados por medio de Análisis. 



	} 
	

}

function createPlot(dataIndicadores, maximo_graph){
	console.log("indicadores como son");
	console.log(dataIndicadores);

	var create = d3.select("#resultados").select("svg").empty(); // T: no hay gráfico 
	// console.log(d3.select("#resultados").selectAll("g.y axis"));
	var svg,
	 	g,
	 	margin = {top: 20, right: 20, bottom: 30, left: 50}
	 	init_width = $( "#mapid" ).width(),
	 	init_height = 600;
		width = +init_width - margin.left - margin.right;
		height = +init_height - margin.top - margin.bottom;

	var x = d3.scaleBand()
    	.rangeRound([0, width]);

	var y = d3.scaleLinear()
	    .range([height, 0]);

	var z = d3.scaleOrdinal(d3.schemeCategory10);
	curveForm = analisis == "DT" ? d3.curveMonotoneX : d3.curveStep;

	// var line = d3.line()
	// 	.curve(curveForm)
	//     .x(function(d) { return x(d.hora); })
 //    	.y(function(d) { return y(d.promedio /1000); });
 	lineForm = analisis == "DT" ? d3.line().y(function(d) { return y(d.promedio /1000); }) : d3.area().y1(function(d) { return y(d.promedio /1000); });

	var line = lineForm
		.curve(curveForm)
	    .x(function(d) { return x(d.hora); });

    // var area = d3.area()
	   //  .x(function(d) { return x(d.date); })
	   //  .y1(function(d) { return y(d.close); });



    x.domain(dataIndicadores.map(function(d) { return d.hora; }));
    // maxY = d3.max(dataIndicadores, function(d) { return d.promedio; })
	y.domain([0, maximo_graph]);
	analisis == "DH" ? line.y0(y(0)) : null ;
	z.domain([1,2,3,4,5]);

	if (create) { //no hay gráfico. 

		//el maximo de todos los seleccionados, eso está en indicadores. 
		svg = d3.select("#resultados").append("svg").attr("width", init_width).attr("height", init_height);
		g = svg.append("g").attr("class", "gResult").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		g.append("g")
			.attr("class", "x axis")
		  .attr("transform", "translate(0," + height + ")")
		  .call(d3.axisBottom(x))
		.select(".domain")
		  .remove();
		
		g.append("g")
		  .attr("class", "y axis")
		  .call(d3.axisLeft(y))
		.append("text")
		  .attr("fill", "#000")
		  .attr("transform", "rotate(-90)")
		  .attr("y",3)
		  .attr("dy", "0.71em")
		  .attr("text-anchor", "end")
		  .text("Km");

	} 
	else{
		// d3.select("#resultados").selectAll(".y axis").remove();
		svg = d3.select("#resultados").select("svg");
		g = d3.select("#resultados").select("g");

	}

		fill = analisis == "DT" ? "none" : function(d) { return z(d[0].indicador); } ;
		g.append("path")
		  .datum(dataIndicadores)
		  .style("fill-opacity", .2)
		  .attr("fill", fill )
		  // .attr("stroke", "steelblue")
		  .attr("stroke-linejoin", "round")
		  .attr("stroke-linecap", "round")
		  .attr("stroke-width", 1.5)
		  .attr("d", line)
		  .style("stroke", function(d) { return z(d[0].indicador); });
		  
		g.append("text")
		  .datum(dataIndicadores)
		  .attr("transform", function(d) { return "translate(" + x(d[23].hora) + "," + y(d[23].promedio /1000) + ")"; })
	      .attr("x", 3)
	      .attr("dy", "0.35em")
	      .style("font", "10px sans-serif")
	      .style("stroke", function(d) { return z(d[0].indicador); })
	      .text(function(d) { return d[0].indicador__nombre; });
}

function descargaCSV(){
	args = {'data' : dataAnalisisDHT.results}
}

	function convertArrayOfObjectsToCSV(args) {  
        var result, ctr, keys, columnDelimiter, lineDelimiter, data;

        data = args.data || null;
        if (data == null || !data.length) {
            return null;
        }

        columnDelimiter = args.columnDelimiter || ',';
        lineDelimiter = args.lineDelimiter || '\n';

        keys = Object.keys(data[0]);

        result = '';
        result += keys.join(columnDelimiter);
        result += lineDelimiter;

        data.forEach(function(item) {
            ctr = 0;
            keys.forEach(function(key) {
                if (ctr > 0) result += columnDelimiter;

                result += item[key];
                ctr++;
            });
            result += lineDelimiter;
        });

        return result;
    }

    function descargaCSV(ind) {
    	
    	function desplIndicador(element) {
		  return element.indicador == ind;
		}
		var datosIncador = ind ? dataAnalisisDHT.results.filter(desplIndicador) : dataAnalisisDHT.results; // 130

    	args = {'data' : datosIncador};
        var data, filename, link;

        var csv = convertArrayOfObjectsToCSV(args);
        if (csv == null) return;

        filename = args.filename || 'export.csv';

        if (!csv.match(/^data:text\/csv/i)) {
            csv = 'data:text/csv;charset=utf-8,' + csv;
        }
        data = encodeURI(csv);

        link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', filename);
        link.click();
    }


</script>



</body>
</html>